<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1>dashboard</h1>
        {% for coupo in coupon %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <!-- <div class="icon"><i class="fas fa-store"></i></div> -->
              <h4 class="title"><a href="">{{ coupo.company.name }}</a></h4>
              <p class="description">{{ coupo.unique_code }}</p>
              <p class="description">{{ coupo.cost }}</p>
              <p class="description" style="border-style: solid; border-width: thin; margin-top: 25px;">
                <a class="description" href = "{% url 'issued' coupo.id %}">Delete</a>
            </p>
            </div>
          </div>
        {% endfor %}
	

</body>
</html>